
<div class="p-3 footerStyle" data-bs-theme="dark">
    <div class="container-xxl text-body">
        <div class="row row-cols-1 row-cols-lg-3 text-center align-items-center justify-content-around">
            <div class="col small order-last order-lg-first text-lg-start">
                <div class="row">
                    <div class="col-12">
                        <span class="me-1">Built By</span><span><img src="/images/CF_Logo_WO.png" height="30" /></span>
                    </div>
                    <div class="col-12 copyright">
                        &copy; 2024 by Coder Foundry. All rights reserved.
                    </div>
                </div>
            </div>
            <div class="col ctaStyle ">
                <strong>Want to Learn Blazor?</strong><br /> Check out our <a href="https://coderfoundry.com/apply/" target="_blank">Blazor Course</a>
            </div>
            <div class="col d-flex flex-column justify-content-end text-lg-end my-3 my-lg-0">
                <div class="row">
                    <div class="col-12">
                        <a href="https://www.youtube.com/@@CoderFoundry" target="_blank"><i class="bi bi-youtube"></i></a>
                        <a href="https://twitter.com/CoderFoundry" target="_blank"><i class="bi bi-twitter-x"></i></a>
                        <a href="https://github.com/CoderFoundry" target="_blank"><i class="bi bi-github"></i></a>
                        <a href="https://www.linkedin.com/school/coderfoundry" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <a href="https://coderfoundry.com" target="_blank"><i class="bi bi-globe"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
