<div class="p-3 footerStyle" data-bs-theme="dark">
    <div class="container-xxl text-body">
        <div class="row row-cols-1 row-cols-md-3 text-center align-items-center">
            <div class="col small order-last order-md-first text-md-start">
                <div class="row">
                    <div class="col-12">
                        <span class="me-1">Built By</span><span><img src="/images/CF_Logo_WO.png" height="30" /></span>
                    </div>
                    <div class="col-12 copyright">
                        &copy; 2024 by Coder Foundry. All rights reserved.
                    </div>
                </div>
            </div>
            <div class="col lead">
                <img src="/images/CF_Mark.jpg" height="50" />
            </div>
            <div class="col d-flex flex-column justify-content-end text-md-end">
                <div class="row">
                    <div class="col-12">
                        <a href="#"><i class="bi bi-youtube"></i></a>
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-github"></i></a>
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
