@inherits LayoutComponentBase
<div class="d-flex flex-column h-100">
    <!-- Top Nav Bar -->
    <TopNavMenu />
    <!--Main Content Area-->
    <main class="flex-grow-1">
        @Body
    </main>
    <!--Footer-->
    <footer class="flex-shrink-0">
        <div class="container ctaStyle pt-1 d-flex align-items-center justify-content-center">
            <i class="bi bi-arrow-right-circle-fill"></i><span class="mx-2"><a href="https://youtu.be/HcVfL9o4LUw" target="_blank">Check out the YouTube Tutorial!</a></span><i class="bi bi-arrow-left-circle-fill"></i>
        </div>
        <TopNavFooter/>
    </footer>
</div>

@code {

}
