@inherits LayoutComponentBase
<div class="d-flex flex-column h-100">
    <!-- Top Nav Bar -->
    <TopNavMenu />
    <!--Main Content Area-->
    <main class="flex-grow-1">
        @Body
    </main>
    <!--Footer-->
    <footer class="flex-shrink-0">
        <TopNavFooter/>
    </footer>
</div>

@code {

}
