video {
    /* override other styles to make responsive */
    max-width: 750px;
    width: 100% !important;
    height: 100% !important;
    border-radius: 25px;
    padding: 5px;
    border: 1px solid #000000;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.outer-container {    
    width: 100%;
    height: 100%;
    text-align: center;
}

.inner-container {    
    display: inline-block;
    position: relative;
}

.video-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 25px;
    margin: 10px 0px 0px 15px;
    padding: 5px 5px;
    font-size: 1rem;
    font-family: var(--cf-title-font);
    color: #FFF;
    background-color: rgba(50, 50, 50, 0.3);
}

.title {
    font-family: var(--cf-title-font);
    font-size: 1rem;    
}
.cardList {
    overflow: auto;
    padding: 25px;
   
}

/*       ScrollBar 6        */
#scrollbar::-webkit-scrollbar {
    width: 12px;
}

#scrollbar::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #95a5a6;
    border: 1px solid #cacaca;
}

#scrollbar::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #ff993b;
}

@media (min-width: 768px) {
    .title {
        font-family: var(--cf-title-font);
        font-size: 1.5rem;
    }
    .cardList {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}